<script src="@Url.Content("~/Scripts/handlebars.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ember.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ember-data.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ember-app/app.js")" type="text/javascript"></script>


<div id="dashboard">
</div>

<script type="text/x-handlebars">
  <div class="row">
    <h2>Ember</h2>
    <hr />
  </div>

  {{ outlet }}
</script>

<script type="text/x-handlebars" id="peeps">
  <div class="row">
    <input type="button" id="new" {{ action "add" }} class="btn btn-primary" value="new  person" />
    <hr />
  </div>
  {{#each controller}}
    <form class="form-inline">
      {{ view Ember.TextField valueBinding='name' }}
    </form>
  {{/each}}
  <div class="row">
    <input type="button" {{ action "saveAll" }} class="btn btn-primary" value="save all" />
    <hr />
  </div>
</script>
