<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BorrowedGames" connectionString="Data Source=(local);Initial Catalog=BorrowedGames_Test;Integrated Security=true"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="notifications@borrowedgames.com">
        <network host="localhost" port="6000" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>