*/bin/*
*/obj/*
Oak.suo
Sample Apps/DynamicBlog/DynamicBlog.Tests/bin/*
Sample Apps/DynamicBlog/DynamicBlog.Tests/obj/*
Sample Apps/DynamicBlog/DynamicBlog/bin/*
Sample Apps/DynamicBlog/DynamicBlog/obj/*
Sample Apps/DynamicBlog/DynamicBlog.suo
Sample Apps/BorrowedGames/BorrowedGames.Tests/bin/*
Sample Apps/BorrowedGames/BorrowedGames.Tests/obj/*
Sample Apps/BorrowedGames/BorrowedGames/bin/*
Sample Apps/BorrowedGames/BorrowedGames/obj/*
Sample Apps/BorrowedGames/BorrowedGames.suo
_Resharper.canopy
*.ReSharper.user
*.sql
