@{
    ViewBag.PageTitle = "Blogs";
}

<h2>Blogs</h2>
@foreach (var blog in ViewBag.Blogs)
{
    @Html.ActionLink(blog.Title as string, "get", new { id = blog.Id })<br />
    @blog.Summary<br />
    
    <hr />
}

@Html.ActionLink("new blog", "new")