<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OakTestsConnectionString" connectionString="Data Source=(local);Initial Catalog=Oak;Integrated Security=True;Pooling=True;Max Pool Size=500"/>
    <add name="AnotherDb" connectionString="Data Source=(local);Initial Catalog=Oak2;Integrated Security=True;Pooling=True;Max Pool Size=500"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
