<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OakTestsConnectionString" connectionString="data source=C:\temp\Oak.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="AnotherDb" connectionString="data source=C:\temp\Oak2.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>
