@font-face {
  font-family: 'junkos';
  src: url("fonts/junkos_typewriter-webfont.eot");
  src: url("fonts/junkos_typewriter-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/junkos_typewriter-webfont.woff") format("woff"), url("fonts/junkos_typewriter-webfont.ttf") format("truetype"), url("fonts/junkos_typewriter-webfont.svg#junkostypewriterRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '1942';
  src: url("fonts/1942-webfont.eot");
  src: url("fonts/1942-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/1942-webfont.woff") format("woff"), url("fonts/1942-webfont.ttf") format("truetype"), url("fonts/1942-webfont.svg#1942report1942report") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boycott';
  src: url("fonts/BOYCOTT_-webfont.eot");
  src: url("fonts/BOYCOTT_-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BOYCOTT_-webfont.woff") format("woff"), url("fonts/BOYCOTT_-webfont.ttf") format("truetype"), url("fonts/BOYCOTT_-webfont.svg#BoycottRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../sass/screen.scss */
div.modal {
  width: 560px;
  position: absolute;
  top: 200px;
  padding: 20px;
  border: solid 1px #bbb;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
/* line 39, ../sass/screen.scss */
div.modal.shown {
  opacity: 1.0;
  z-index: 100;
}

/* line 46, ../sass/screen.scss */
.title {
  margin: 3px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #46629D;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

/* line 57, ../sass/screen.scss */
div.dropshadow {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

/* line 62, ../sass/screen.scss */
div.modal input {
  display: block;
  width: 100%;
}

/* line 68, ../sass/screen.scss */
.current {
  background-color: #46629D;
  color: #ffffff;
}

/* line 74, ../sass/screen.scss */
.button {
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  background-color: #46629D;
  border: solid 1px black;
  color: White;
}

/* line 84, ../sass/screen.scss */
.button:hover {
  color: black;
}

/* line 89, ../sass/screen.scss */
.growlwrapper {
  width: 520px;
  border-radius: 5px;
  border-style: solid;
  border-color: #46629D;
  border-width: 2px;
  background: White;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

/* line 100, ../sass/screen.scss */
.growlinfo {
  width: 520px;
  border-radius: 5px;
  background-image: url("images/info.png");
  background-position: left center;
  background-repeat: no-repeat;
  color: black;
  padding-left: 50px;
  padding-top: 10px;
  margin-left: 5px;
  padding-bottom: 10px;
  font-size: 17px;
}

/* line 115, ../sass/screen.scss */
.edit, .delete, .info, .cancel, .add, .up, .down, .check {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-top: 3px;
  text-decoration: none;
  color: black;
}

/* line 125, ../sass/screen.scss */
.edit {
  background-image: url("images/edit20.png");
}

/* line 130, ../sass/screen.scss */
.delete {
  background-image: url("images/delete20.png");
}

/* line 135, ../sass/screen.scss */
.info {
  background-image: url("images/info20.png");
}

/* line 140, ../sass/screen.scss */
.cancel {
  background-image: url("images/cancel20.png");
}

/* line 145, ../sass/screen.scss */
.add {
  background-image: url("images/add20.png");
}

/* line 150, ../sass/screen.scss */
.up {
  background-image: url("images/up20.png");
}

/* line 155, ../sass/screen.scss */
.down {
  background-image: url("images/down20.png");
}

/* line 160, ../sass/screen.scss */
.check {
  background-image: url("images/check20.png");
}

/* line 165, ../sass/screen.scss */
.border {
  margin: 5px;
  border: solid 1px silver;
  border-radius: 5px;
  padding: 5px;
}

/* line 173, ../sass/screen.scss */
.gameBox {
  margin: 5px;
  border: solid 1px silver;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  float: left;
  width: 100px;
  height: 160px;
}

/* line 185, ../sass/screen.scss */
.autocomplete {
  width: 556px;
  border: solid 1px silver;
  background-color: White;
}

/* line 192, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 197, ../sass/screen.scss */
body {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-image: url("images/background.png");
  background-repeat: repeat-x;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

/* line 207, ../sass/screen.scss */
.box {
  float: left;
  border: solid 1px silver;
  margin: 3px;
  height: 150px;
  border-radius: 5px;
  padding: 3px;
}

/* line 217, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 222, ../sass/screen.scss */
#main {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  border-radius: 5px;
  background: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 3px;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* line 236, ../sass/screen.scss */
.section {
  border-left: 1px solid silver;
  padding-left: 5px;
}

/* line 242, ../sass/screen.scss */
#banner {
  font-family: 'Boycott';
  color: white;
}

/* line 248, ../sass/screen.scss */
.brand {
  font-family: 'Boycott';
}

/* line 253, ../sass/screen.scss */
nav a {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  color: black;
  background-color: #E1EFFB;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  float: left;
  width: 100px;
}

/* line 269, ../sass/screen.scss */
nav {
  float: right;
}

/* line 274, ../sass/screen.scss */
.notification {
  color: black;
  border-radius: 10px;
  background: #FBEC88;
  font-size: 15px;
  padding: 3px;
  padding-left: 20px;
  border: 1px solid #FAD42E;
}

/* line 285, ../sass/screen.scss */
.seperator {
  width: 100%;
  border-bottom: 1px solid silver;
}

/* line 291, ../sass/screen.scss */
#nav-wrapper {
  height: 60px;
  width: 1045px;
}

/* line 297, ../sass/screen.scss */
h1, h2, h3, h4 {
  border-bottom: 1px solid silver;
  padding: 5px;
}

/* line 303, ../sass/screen.scss */
.toggleSwitchOn {
  background-color: #46629D;
  background-image: url("images/circle20.png");
  background-repeat: no-repeat;
}
/* line 309, ../sass/screen.scss */
.toggleSwitchOn label {
  font-weight: bold;
  color: #FFFFFF;
  float: right;
  cursor: pointer;
}

/* line 318, ../sass/screen.scss */
.toggleSwitchOff {
  background-color: #E0E5EE;
  background-image: url("images/circle20.png");
  background-repeat: no-repeat;
}
/* line 324, ../sass/screen.scss */
.toggleSwitchOff label {
  font-weight: bold;
  color: #545454;
  float: left;
  cursor: pointer;
}
