@{
    ViewBag.Title = "Index";
}

<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Backbone" })">Backbone Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Knockout" })">Knockout Implementation</a><br />
</div>
<div class="row">
    <a href="@Url.RouteUrl(new { controller = "Home", action = "Backbone" })">Angular Implementation</a><br />
</div>
