<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="BorrowedGames" connectionString="data source=(local);Initial Catalog=BorrowedGames;Integrated Security=true" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="notifications@borrowedgames.com">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" defaultUrl="~/" timeout="2880" />
    </authentication>
  </system.web>
</configuration>
